h1{
    font-size: 50px;
    text-align: center;
}
main section{
    height: 600px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: brown;
    height: 50px;
    width: 100px;
}